.f-keepList {
    background: #FAFAFA;
}

.f-keepList .info-area.rookie .girl-name:after {
    content: "";
    width: 1.7rem;
    height: 1.7rem;
    margin-left: 0.5rem;
    background: url(../../images/history/ico-rookie.svg) no-repeat center/auto 1.7rem;
}

.f-keepList .sort-select {
    width: 10.8rem;
    height: 3.2rem;
    padding-left: 1rem;
    border-radius: 0.2rem;
    border: none;
    background: #fff url("../../images/history/arr-down.svg") no-repeat right 0.8rem center/1.2rem auto;
    appearance: none;
}

.f-keepList .sort-select:disabled {
    color: #ddd;
    background: #fafafa url("../../images/history/arr-downOff.svg") no-repeat right 0.8rem center/1.2rem auto;
}

.shop-recommend {
    display: flex;
    gap: 4px;
    align-items: end;
}

.shop-tag {
    background: #FFEB7E;
    border-radius: 2px;
    padding: 4px 10px;
    height: 100%;
    width: fit-content;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}

.shop-genre {
    margin-top: 8px;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
    color: #1F1C0D;
}

.shop-rating {
    margin-bottom: 12px;
    height: 16px;
    display: flex;
}

.shop-rating .rating-star {
    display: flex;
    gap: 4px;
}

.shop-rating .rating-star .star-wrapper {
    width: 16px;
    height: 16px;
    background: url(/assets/img/user/common/v2/layout/star-sp.svg) no-repeat center;
}

.shop-rating .rating-star .star-wrapper.no-star {
    background: url(/assets/img/user/common/v2/layout/star-gray-sp.svg) no-repeat center;
}

.shop-rating .rating-star .star-wrapper.half-star {
    background: url(/assets/img/user/common/v2/layout/star-half-sp.svg) no-repeat left;
}

.shop-rating .shopReview-rating {
    background: no-repeat left center / 96px auto;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    padding: 0 0 0 100px;
    height: 16px;
}

.shop-rating .shopReview-number {
    font-size: 10px;
    line-height: 18px;
    font-weight: bold;
    margin-left: 8px;
    border-bottom: 1.5px solid #000;
    padding-bottom: 1px;
}

.shop-rating .shopReview-number span.num {
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    color: #006BC4;
}

.shop-rating .shopReview-star1 {
    background-image: url(/assets/img/user/sp/common/star-1.svg);
}

.shop-rating .shopReview-star15 {
    background-image: url(/assets/img/user/sp/common/star-15.svg);
}

.shop-rating .shopReview-star2 {
    background-image: url(/assets/img/user/sp/common/star-2.svg);
}

.shop-rating .shopReview-star25 {
    background-image: url(/assets/img/user/sp/common/star-25.svg);
}

.shop-rating .shopReview-star3 {
    background-image: url(/assets/img/user/sp/common/star-3.svg);
}

.shop-rating .shopReview-star35 {
    background-image: url(/assets/img/user/sp/common/star-35.svg);
}

.shop-rating .shopReview-star4 {
    background-image: url(/assets/img/user/sp/common/star-4.svg);
}

.shop-rating .shopReview-star45 {
    background-image: url(../../images/history/star-45.svg);
}

.shop-rating .shopReview-star5 {
    background-image: url(/assets/img/user/sp/common/star-5.svg);
}

.shop-open,
.shop-location,
.shop-price,
.shop-payment-type {
    margin-top: 13px;
    display: flex;
    gap: 8px;
    align-items: center;
    height: 13px;
}

.shop-open img,
.shop-location img,
.shop-price img,
.shop-payment-type img {
    height: 14px;
    width: 14px;
    object-fit: contain;
}

.shop-open img.unit,
.shop-location img.unit,
.shop-price img.unit,
.shop-payment-type img.unit {
    height: 14px;
}

.shop-open span,
.shop-location span,
.shop-price span,
.shop-payment-type span {
    font-size: 13px;
    line-height: 13px;
    font-weight: normal;
}

.info-inline {
    display: flex;
    gap: 14px;
}

.shop-open {
    margin-top: 10px;
}

/* .btn-keep {
  position: absolute;
  bottom: 0;
  right: 0;
} */
.btn-keep {
    width: 3.9rem;
    height: 3.9rem;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0rem;
    right: -2px;
    z-index: 1;
    /* -webkit-tap-highlight-color: #000; */
}

.star-keep {
    width: 3.8rem;
    margin: auto;
    position: absolute;
    top: 0;
    right: -2px;
    /* bottom: 0; */
    left: 0;
}

.btn-tel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 3.8rem;
    box-shadow: 0px 0.1rem 0.8rem #33333333;
    position: absolute;
    top: 0rem !important;
    right: 0.1rem;
}

.wrap-count-girl-work {
    background-color: #fff7f7;
    text-align: center;
    border: 1px solid #fddedb;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 13px;
    height: 4rem;
    position: relative;
}

.count-girl-work em {
    color: #FE4A4A;
    font-weight: 600;
    font-size: 18px;
}

.girl-book {
    display: flex;
    align-items: center;
    width: 100% !important;
    height: 4rem;
    padding-left: 7rem !important;
    background: #FF4A4A url("../../images/history/phone2x.png") no-repeat 4.5rem center/1.5rem auto !important;
    box-shadow: 0px 0.1rem 0.8rem #33333333;
    border-radius: 3px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFFFFF;
}

.arrow-icon {
    width: 2rem;
    height: 2rem;
    color: #FE4A4A;
    font-size: 1.5rem;
    position: absolute;
    top: 56%;
    right: 0;
    transform: translate(-50%, -50%);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}