.l-breadcrumb .breadcrumb-list {
  color: #41493B;
}

.therapistList-count {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 0.5rem;
}
.therapistList-count .colored {
  color: #FE4A4A;
}

header .g-header .g-header-main-content__logo {
  width: 17rem;
  height: auto;
}
header .g-header .g-header-main-content__left .button {
  display: flex;
  height: 43px;
  width: 43px;
  background: #FFC015;
  border: unset;
  border-radius: 3px;
  padding: 4px 0 6px 0;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 43px;
  width: 43px;
  background: #FFC015;
  border: unset;
  border-radius: 3px;
  padding: 4px 0 6px 0;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.f-keepList {
  padding: 2rem 1rem;
  background: #FAFAFA;

}
.f-keepList .sort-select {
  width: 10.8rem;
  height: 3.2rem;
  padding-left: 1rem;
  border-radius: 0.2rem;
  border: none;
  background: #fff url("../../images/history/arr-down.svg") no-repeat right 0.8rem center/1.2rem auto;
  appearance: none;
}
.f-keepList .sort-select:disabled {
  color: #ddd;
  background: #fafafa url("../../images/history/arr-downOff.svg") no-repeat right 0.8rem center/1.2rem auto;
}
.f-keepList .keepList-item.girl .item-table .p-imgWrap {
  width: 11.4rem;
  height: 15.2rem;
}
.f-keepList .girl-data {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  color: #59595F;
}
.f-keepList .status-tbl {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 2.3rem;
  font-size: 1.2rem;
  text-align: center;
}
.f-keepList .status-tbl td {
  height: 4.2rem;
  vertical-align: middle;
  font-size: 1.2rem;
  font-weight: bold;
}
.f-keepList .status-tbl.today {
  border-collapse: separate;
  border-spacing: 0;
}
.f-keepList .status-tbl.today th {
  width: 8.5rem;
  background: #FCDD59;
  border: 0.1rem solid #FCDD59;
  border-radius: 0.3rem 0 0 0.3rem;
  color: #1F1C0D;
  vertical-align: middle;
}
.f-keepList .status-tbl.today td {
  border: 0.1rem solid #FCDD59;
  border-radius: 0 0.3rem 0.3rem 0;
  color: #1F1C0D;
  background-color: #FFFCF2;
}
.f-keepList .status-tbl.today td:only-child {
  border: none;
  border-radius: 0.3rem;
  background: #EAEAEA;
  color: inherit;
  font-weight: normal;
}
.f-keepList .status-tbl.next {
  background: #fff8e7;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 0.3rem;
}
.f-keepList .status-tbl.next th {
  width: 7rem;
  vertical-align: middle;
}
.f-keepList .btn-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f-keepList .girl-book {
  display: flex;
  align-items: center;
  width: 13rem;
  height: 3.9rem;
  padding-left: 4rem;
  background: #FF4A4A url("../../images/history/phone.png") no-repeat 1.8rem center/1.2rem auto;
  box-shadow: 0px 0.1rem 0.8rem #33333333;
  border-radius: 3px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #FFFFFF;
  position: static;
}
.f-keepList .icon-tel {
  width: 3rem;
  height: auto;
}
.f-keepList .btn-tel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.6rem;
  height: 4.6rem;
  border-radius: 2.8rem;
  box-shadow: 0px 0.1rem 0.8rem #33333333;
  background: #FFFFFF;
  position: absolute;
  top: 1.3rem;
  right: 0.3rem;
}
.f-keepList .info-area.rookie .girl-name:after {
  content: "";
  width: 1.7rem;
  height: 1.7rem;
  margin-left: 0.5rem;
  background: url(../../images/history/ico-rookie.svg) no-repeat center/auto 1.7rem;
}
.f-keepList .keepGirl-list {
  padding-bottom: 1.5rem;
  position: relative;
  padding-bottom: 1.2rem;
  position: relative;
}

.g-header-main-keeplist .g-header-main-content__left .history-is-active {
  background: #FAFAFA 0% 0% no-repeat padding-box !important;
  background: #FAFAFA 0% 0% no-repeat padding-box !important;
}
.g-header-main-keeplist .g-header-main-content__left .history-is-active .button-text {
  color: #00356A !important;
  color: #00356A !important;
}
.g-header-main-keeplist .g-header-main-content__left .button {
  display: flex;
  height: 38px !important;
  width: 80px !important;
  background: #ffffff;
  border-radius: 3px;
  padding: 6px !important;
  justify-content: space-between;
  flex-direction: unset !important;
  align-items: center;
  cursor: pointer;
  border: 1px solid #00356A !important;
  display: flex;
  height: 38px !important;
  width: 80px !important;
  background: #ffffff;
  border-radius: 3px;
  padding: 6px !important;
  justify-content: space-between;
  flex-direction: unset !important;
  align-items: center;
  cursor: pointer;
  border: 1px solid #00356A !important;
}
.g-header-main-keeplist .g-header-main-content__left .star {
  border: 1px solid #FFC015 !important;
  border: 1px solid #FFC015 !important;
}
.g-header-main-keeplist .g-header-main-content__left .star .button-text {
  color: #FFFFFF !important;
  color: #FFFFFF !important;
}

ul.calender-list {
  overflow-x: auto;
  scrollbar-width: none;
}

.calender-list .calenderList-day .content.current {
  background: #FE4A4A;
  border: none;
  color: #fff;
  pointer-events: none;
}
.calender-list .calenderList-day .content.current p {
  color: #fff;
}

.calenderList-day {
  justify-content: flex-end;
}

.content {
  justify-content: space-around !important;
  height: 8.2rem !important;
  padding: 7px !important;
}
.content .wrap-day {
  position: relative;
  padding: 0rem 0.4rem 0.6rem 0.4rem;
  color: #333333;
}
.content .wrap-day::after {
  content: '';
  position: absolute;
  left: -10px;
  right: -10px;
  bottom: 0;
  height: 1.4px;
  background-color: #DDDDDD;
}
.content .people {
  color: #333333;
}

.weekday {
  margin-top: 4px;
}

.mod-keepListHead .listChange-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 15.8rem;
  height: 4.5rem;
  border-radius: 2.25rem;
  color: #1F1C0D;
  background: #FFF8E7;
  border: 1px solid #F5EBD1;
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
  margin-right: 1rem;
}
.mod-keepListHead .listChange-item:last-child {
  margin-right: 0;
}
.mod-keepListHead .listChange-item .counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background: #E7F1FD;
  font-size: 1rem;
  font-weight: bold;
  color: #1F1C0D;
  position: absolute;
  top: -0.8rem;
  right: 0;
}
.mod-keepListHead .listChange-item.active {
  background: #FFC015;
  color: #fff;
}

.wrap-link {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  position: relative;
}

.mod-shopInfo .shop-info {
  overflow: hidden;
  padding: 1.2rem 0 1.6rem;
  position: relative;
}
.mod-shopInfo ul.shop-tags {
  display: flex;
}
.mod-shopInfo li.tag {
  background: #F7F7F7 0% 0% no-repeat padding-box;
  color: #1F1C0D;
  padding: 0.4rem 1.3rem;
  margin-right: 4px;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 3px;
}
.mod-shopInfo .tag.active {
  background-color: #E7F3FC;
}
.mod-shopInfo .contents-wrap {
  padding-left: 7.7rem;
  position: relative;
  z-index: 3;
}
.mod-shopInfo .shop-thumb {
  width: 6.4rem;
  height: 6.4rem;
  position: absolute;
  top: unset;
  left: 0rem;
  z-index: 2;
  object-fit: fill;
}
.mod-shopInfo .shop-genre {
  margin-bottom: 0.8rem;
  color: #858585;
  font-size: 1.1rem;
}
.mod-shopInfo .shop-name {
  max-width: 26rem;
  margin-bottom: 0.6rem;
  font-size: 1.7rem;
  font-weight: bold;
}

.p-imgWrap img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
}

.btn-keep {
  width: 3.9rem;
  height: 3.9rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0rem;
  right: -2px;
  z-index: 1;
  box-shadow: none;
}

.star-keep {
  width: 3.8rem;
  margin: auto;
  position: absolute;
  top: 0;
  right: -2px;
  left: 0;
}

.visible-hidden {
  visibility: hidden;
}
.f-keepList.keep {
  padding: 2rem 1rem;
}
.l-breadcrumb {
  background: #F2F2F2 !important;
}