header .g-header .g-header-main-content__logo {
    width: 215px;
    height: auto;
}

.f-keepList {
    padding: 2rem 1rem 6rem;
    background: #FAFAFA;
}

.f-keepList .keepList-item.girl {
    padding: 1.5rem 3rem 0;
}

.f-keepList .keepList-item.girl .item-table .p-imgWrap {
    width: 11.4rem;
    height: 15.2rem;
}

.therapistList-count .colored {
    color: #FE4A4A;
}


/* button history */
.g-header-main-keeplist .g-header-main-content__left .history-is-active {
    background: #FAFAFA 0% 0% no-repeat padding-box !important;
}

.g-header-main-keeplist .g-header-main-content__left .history-is-active .button-text {
    color: #00356A !important;
}

.g-header-main-keeplist .g-header-main-content__left .button {
    display: flex;
    height: 38px !important;
    width: 80px !important;
    background: #ffffff;
    border-radius: 3px;
    padding: 6px !important;
    justify-content: space-between;
    flex-direction: unset !important;
    align-items: center;
    cursor: pointer;
    border: 1px solid #00356A !important;
}

/* button keeplist */
.g-header-main-keeplist .g-header-main-content__left .star {
    border: 1px solid #FFC015 !important;
}

.g-header-main-keeplist .g-header-main-content__left .star .button-text {
    color: #FFFFFF !important;
}

header .g-header .g-header-main-content__left .button {
    display: flex;
    height: 43px;
    width: 43px;
    background: #FFC015;
    border: unset;
    border-radius: 3px;
    padding: 4px 0 6px 0;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.f-keepList .sort-select {
    width: 10.8rem;
    height: 3.2rem;
    padding-left: 1rem;
    border-radius: 0.2rem;
    border: none;
    background: #fff url("../../images/history/arr-down.svg") no-repeat right 0.8rem center/1.2rem auto;
    appearance: none;
}

.f-keepList .sort-select:disabled {
    color: #ddd;
    background: #fafafa url("../../images/history/arr-downOff.svg") no-repeat right 0.8rem center/1.2rem auto;
}


.wh-full {
    width: 100% !important;
    height: 100% !important;
}

ul.calender-list {
    overflow-x: auto;
    scrollbar-width: none;
}

.calenderList-day {
    justify-content: flex-end;
}

.content {
    justify-content: space-around !important;
    height: 8.2rem !important;
    padding: 7px !important;
}

.content.current .wrap-day {
    /*active*/
    border-bottom: 1px solid #fff;
}

.content .wrap-day {
    padding: 0px 11px 11px 10px;
    border-bottom: 1px solid #4B454E;
}

.weekday {
    margin-top: 4px;
}

.btn-release-keep {
    /* background-color: #EDEDED !important; */
    background: #D7E5F7 0% 0% no-repeat padding-box;
    padding: 9px 25px !important;
    border-radius: 20px !important;
}

.wrap-release-keep {
    margin-bottom: 2rem;
    text-align: right;
}

.girl-data {
    color: #A8A8A8;
}

.f-keepList .girl-data {
    margin-bottom: 0.4rem;
    font-size: 1.2rem;
}

.city {
    color: #1F1C0D;
    font-size: 1.1rem;
}

.wrap-sns {
    display: flex;
    align-items: flex-end;
    margin-top: 4px;
    margin-bottom: 0.6rem;
    justify-content: space-between;
}

.wrap-sns p {
    padding: 2px 10px 4px 0px;
    font-size: 1.4rem;
    font-weight: 700 !important;
    /* background-color: yellowgreen; */
}

.wrap-sns .sns {
    display: flex;
    /* background-color: #0065BC; */
}

.wrap-link {
    width: 3rem;
    height: 3rem;
    background-color: #F7F7F7;
    border-radius: 50%;
    position: relative;
}

.wrap-link img {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.keepGirl-list {
    width: 98%;
    /* background: red; */
    /* margin-left: 0 auto; */
    margin: 0 auto;
}

/* max幅、高さは各ページで設定 */
.p-imgWrap img {
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.count-girl-work {
    background-color: #fff7f7;
    padding: 9px;
    text-align: center;
    border: 1px solid #fddedb;
    border-radius: 4px;
    margin-bottom: 8px;
    font-size: 13px;
}


.count-girl-work em {
    color: #FE4A4A;
    font-weight: 600;
    font-size: 16px;
}

.f-keepList .girl-book {
    display: flex;
    align-items: center;
    /* width: 13rem; */
    height: 3.5rem;
    padding-left: 4.4rem;
    /* background: #fcdd59 url(/assets/img/user/sp/keeplist/icon-calendar.svg) no-repeat 2.7rem center / 1.5rem auto; */
    background: #FF4A4A url(../../images/history/phone2x.png) no-repeat 1.8rem center / 1.3rem auto;
    /* box-shadow: 0px 0.1rem 0.8rem #33333333; */
    /* border-radius: 2.4rem; */
    border-radius: 3px;
    font-size: 1.2rem;
    font-weight: bold;
    /* position: absolute; */
    /* top: 1rem; */
    color: #FFFFFF;
}

.btn-check {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 35%;
    left: 11px;
}

.keepList-item {
    /* padding: 10px 34px 0px 34px !important; */
    padding: 10px 14px 0px 48px !important;
    /*có padding để show checkbox*/
    position: relative;
}

.f-keepList .keepList-item {
    margin-bottom: 2rem;
    background: #fff;
    border-radius: 0.6rem;
    box-shadow: 0px 0.2rem 0.6rem #00000033;
}